@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


.Container
{
    display: flex;
    flex-direction: column;
    background: rgb(1,1,20);
    background: url("../../img/DarkBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    transition: 0.3s;
}