.NavBar
{
    display: block;
    position: absolute;
    width: 100%;
    height: 8%;
    background: linear-gradient(to right bottom, #37465be5, #736effd0);
}

.Container
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.Icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 1%;
    background: red;
}

.Icon img
{
    width: 100%;
}

.Menu
{
    background: red;
    width: 500px;
}