@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


.Container
{
    display: block;
    position: fixed;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right bottom, #37465be5, #736effd0);
    z-index: 2;
}

.NavBar
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.Icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 10px 0 10px;
    /* background: red; */
}

.Icon img
{
    width: 100%;
}

.Menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: red; */
    width: 40%;
}

.Menu button
{
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    font-size: 22px;
    font-weight: bold;
    /* color: #fff; */
    font-family: 'Play', sans-serif;
}

.SwitcherContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

#Switcher
{
    display: none;
}

.SwitchLabel
{
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    background: gray;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.SwitchLabel::after
{
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100%;
    transition: 0.3s;
}

.Menu button:hover
{
    background: #212b38b6;
    height: 70px;
}

#Switcher:checked ~ .SwitchLabel
{
    background: rgba(0, 0, 0, 0.966);
}

#Switcher:checked ~ .SwitchLabel::after
{
    transform: translateX(100%);
}

@media (max-width: 480px)
{
    .Menu
    {
        background: green;
    }
}