.Container
{
    display: flex;
    width: 100%;
    height: 100vh;
    /* height: 100%; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: gray;
    background: url("../../img/8Rotated.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Title
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 10px;
    font-family: 'Play', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.867);
    border-radius: 5px;
    background: linear-gradient(to right bottom, #736effb6, #5affe6a4);
}

.FirstStack
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin-bottom: 40px;
    /* background: red; */
}