.Background
{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    right: 0;
    top: 1px;
    z-index: -1;
    background: transparent;
}

.Container
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 180px;
    top: 69px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    animation: openModal 0.3s;
    background: linear-gradient(to right bottom, #736effd0, #736effd0);
}

.LanguageContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 60px;
}

.Button
{
    width: 80px;
    height: 27px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background: rgba(68, 67, 67, 0.966);
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.ThemeContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 60px;
}

.ResumeContainer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 60px;
}

.Button a
{
    text-decoration: none;
    color: #fff;
    padding: 5px 12px;
    border-radius: 5px;
}

.Button:hover
{
    background: rgba(100, 100, 100, 0.966);
}

@keyframes openModal
{
    0%
    {
        transform: translateX(100%);
        opacity: 0.5;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideGradient
{
    0%
    {
        background-position: -1000px;
    }
    100%
    {
        background-position: 2000px;
    }
}

/* MEDIA QUERIES BREAKPOINTS */

@media (max-width: 425px)
{
    .Container
    {
        width: 100px;
        height: 140px;
        font-size: 15px;
    }
    .Button
    {
        width: 70px;
        height: 25px;
        font-size: 15px;
    }
}

@media (max-width: 320px)
{
    .Container
    {
        width: 80px;
        height: 120px;
        font-size: 13px;
    }
    .Button
    {
        width: 60px;
        height: 20px;
        font-size: 13px;
    }
}